apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.name }}
  namespace: {{ .Values.namespace }}
  annotations:
    oci.oraclecloud.com/load-balancer-type: "nlb"

spec:
  selector:
    app: {{ .Values.name }}
  type: LoadBalancer
  # externalTrafficPolicy: Local
  externalTrafficPolicy: Cluster

  ports:
    - port: {{ .Values.service.port }}
      protocol: UDP
      targetPort: {{ .Values.service.port }}
